<h2 class="text-center my-4">Categories</h2>
<div class="category-list">
    @for (category of categories; track category) {
    <div class="category-card card mb-3 shadow-sm">
        <div class="row g-0">
            <div class="col-md-4">
                <img [src]="category.image" alt="{{category.categoryName}}" class="img-fluid rounded-start"/>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">{{category.categoryName}}</h3>
                    <p class="card-text">Special offer, starting at: {{category.price}}</p>
                </div>
            </div>
        </div>
    </div>
    }
</div>