<h2 class="text-center my-4"> Products </h2>
<div class="product-list container">
    <div class="row">
        @for (product of products; track product) {
        <div class="col-md-4 mb-4">
            <div class="product-card card h-100 shadow-sm">
                <img [src]="product.image" alt="{{product.productName}}" class="card-img-top p-3"/>
                <div class="card-body">
                    <h3 class="card-title">{{product.productName}}</h3>
                    <p class="card-text fw-bold">{{product.productPrice}}</p>
                    @if (product.onSale) {
                    <p class="badge bg-danger">On Sale!</p>
                    }
                </div>
            </div>
        </div>
        }
    </div>
</div>
